.navbar {
    background-color: rgb(30, 30, 70);
}
.nav-link {
    color: cornsilk !important;
}
.logo {
    width: 143px;
    height: 45px;
}

.navbar-nav {
    display: flex !important;
    justify-content: space-between !important;
    margin-left: auto !important;
}

.bd {
    border-radius: 8px;
    transition: 0.3s ease;
}

/* Main CSS File */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");
/* font-family: 'Poppins', sans-serif; */
/*--------------------- 1.General Styles ---------- */
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
}

body {
    font: normal 300 1.4rem/1.86 "Poppins", sans-serif;
    color: #666666;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

::-moz-selection {
    color: #fff;
    background-color: #cc9966;
}

::selection {
    color: #fff;
    background-color: #cc9966;
}

p {
    margin-bottom: 1.5rem;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;
}

b,
strong {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid #ebebeb;
    margin: 3rem auto 2.5rem;
}

sub,
sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-light {
    background-color: #f8f8f8 !important;
}

.bg-light-2 {
    background-color: #f9f9f9 !important;
}

.bg-lighter {
    background-color: #fafafa !important;
}

.bg-gray {
    background-color: #f4f5f8 !important;
}

.bg-primary {
    background-color: #cc9966 !important;
}

.bg-secondary {
    background-color: #a6c76c !important;
}

.bg-image {
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-overlay {
    position: relative;
}
.bg-overlay:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
    background-color: #333;
}
.bg-overlay .container,
.bg-overlay .container-fluid {
    position: relative;
    z-index: 2;
}

/* Animation for lazyload */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Type */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 1.4rem;
    color: #333333;
    letter-spacing: -0.03em;
}

h1,
.h1 {
    font-size: 4rem;
}

h2,
.h2 {
    font-size: 3.6rem;
}

h3,
.h3 {
    font-size: 2.6rem;
}

h4,
.h4 {
    font-size: 2.2rem;
}

h5,
.h5 {
    font-size: 2rem;
    letter-spacing: -0.025em;
}

h6,
.h6 {
    font-size: 1.6rem;
    letter-spacing: -0.01em;
}

a {
    color: #cc9966;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #bf8040;
    text-decoration: none;
}

.link-underline {
    box-shadow: 0 1px 0 0 #cc9966;
}

.text-primary {
    color: #cc9966 !important;
}

.text-secondary {
    color: #a6c76c !important;
}

.text-dark {
    color: #333 !important;
}

.text-light {
    color: #ccc !important;
}

.lead {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    margin-bottom: 1.2rem;
}

blockquote {
    position: relative;
    margin: 0 0 4.2rem;
    padding: 0;
    color: #777;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 1.625;
}
blockquote p {
    max-width: 1120px;
}
blockquote.text-center p {
    margin-left: auto;
    margin-right: auto;
}
blockquote cite {
    font-style: normal;
    font-weight: 500;
    color: #333333;
    letter-spacing: -0.01em;
    line-height: 1;
}
blockquote cite span {
    display: block;
    font-weight: 300;
    font-size: 1.4rem;
}
blockquote.text-white cite {
    color: #cccccc;
}
blockquote.text-white cite span {
    color: #777;
}

@media screen and (min-width: 768px) {
    h1,
    .h1 {
        font-size: 5rem;
    }

    h2,
    .h2 {
        font-size: 4rem;
    }

    h3,
    .h3 {
        font-size: 3rem;
    }

    h4,
    .h4 {
        font-size: 2.4rem;
    }
}
/* Layout */
.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.container {
    width: 1188px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: transform 0.4s ease;
}
.mmenu-active .page-wrapper {
    transform: translateX(200px);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .page-wrapper {
        display: block;
    }
}
.main {
    flex: 1;
    width: 100%;
}

.page-content {
    padding-bottom: 5rem;
}

@media screen and (min-width: 992px) {
    .col-5col {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.col-xl-5col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-4-5col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-2-5col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-3-5col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 1200px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    .col-xl-5col {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .col-xl-4-5col {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }

    .col-xl-2-5col {
        -ms-flex: 0 0 calc(40%);
        flex: 0 0 calc(40%);
        max-width: calc(40%);
    }

    .col-xl-3-5col {
        -ms-flex: 0 0 calc(60%);
        flex: 0 0 calc(60%);
        max-width: calc(60%);
    }

    .no-gutters .col-xl-2-5col {
        -ms-flex: 0 0 calc(40% + 8px);
        flex: 0 0 calc(40% + 8px);
        max-width: calc(40% + 8px);
    }
    .no-gutters .col-xl-3-5col {
        -ms-flex: 0 0 calc(60% - 8px);
        flex: 0 0 calc(60% - 8px);
        max-width: calc(60% - 8px);
    }
}
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}
/* Extend grid - 1600px */
@media screen and (min-width: 1600px) {
    .container-fluid {
        padding-left: 70px;
        padding-right: 70px;
    }

    .col-xxl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-xxl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xxl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xxl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .offset-xxl-2 {
        margin-left: 16.666667%;
    }

    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xxl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xxl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xxl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xxl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xxl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xxl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xxl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xxl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xxl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-xxl-5col {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .col-xxl-4-5col {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }

    .d-xxl-block {
        display: block !important;
    }

    .d-xxl-flex {
        display: flex !important;
    }
}
@media screen and (min-width: 1920px) {
    .container-fluid {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*--------------------- 2.Headers -------------------- */
/* Header */
.header {
    width: 100%;
    background-color: #fff;
}
.header .container,
.header .container-fluid {
    position: relative;
    display: flex;
    align-items: center;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-right {
    margin-left: auto;
    align-self: stretch;
}

.header-center {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-top: 2.55rem;
    margin-bottom: 2.95rem;
    flex-shrink: 0;
    min-height: 25px;
}
.logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-top {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 0;
    color: #777;
    margin-bottom: 0.1rem;
}
.header-top a {
    color: inherit;
}
.header-top a:hover,
.header-top a:focus {
    color: #cc9966;
}
.header-top .container,
.header-top .container-fluid {
    position: relative;
}
.header-top .container:after,
.header-top .container-fluid:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    background-color: #ebebeb;
}
.header-top .top-menu li + li {
    margin-left: 2.6rem;
}
@media screen and (min-width: 1200px) {
    .header-top .container-fluid:after {
        left: 30px;
        right: 30px;
    }
}
@media screen and (min-width: 1600px) {
    .header-top .container-fluid:after {
        left: 70px;
        right: 70px;
    }
}

.top-menu {
    text-transform: uppercase;
    letter-spacing: -0.01em;
    margin: 0;
}
.top-menu > li {
    position: relative;
}
.top-menu > li > a {
    display: none;
}
.top-menu ul {
    display: flex;
    align-items: center;
}
.top-menu li + li {
    margin-left: 3rem;
}
.top-menu a {
    display: inline-flex;
    align-items: center;
}
.top-menu i {
    font-size: 1.5rem;
    margin-right: 0.8rem;
    line-height: 1;
}
.top-menu i.icon-heart-o {
    margin-top: -0.2rem;
}
.top-menu span {
    color: #cc9966;
    margin-left: 0.3rem;
}

.header-dropdown {
    position: relative;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.header-dropdown + .header-dropdown {
    margin-left: 2.9rem;
}
.header-dropdown > a,
.header-dropdown > span {
    position: relative;
    display: inline-flex;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 2.2rem;
    align-items: center;
    text-transform: uppercase;
}
.header-dropdown > a::after,
.header-dropdown > span::after {
    font-family: "molla";
    content: "\f110";
    position: absolute;
    right: 0;
    top: 50%;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
    margin-top: -0.7rem;
}
.header-dropdown a:hover,
.header-dropdown a:focus {
    text-decoration: none;
}

.header-menu {
    position: absolute;
    left: -1.5rem;
    top: 100%;
    z-index: 20;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    box-shadow: 2px 5px 8px rgba(51, 51, 51, 0.05),
        -2px 5px 8px rgba(51, 51, 51, 0.05);
    transition: all 0.25s;
    margin-top: 1px;
}
.header-dropdown:first-child .header-menu {
    left: 0;
}
.header-menu:before {
    content: "";
    display: block;
    width: 100%;
    height: 0.1rem;
    position: absolute;
    top: -1px;
    left: 0;
}
.header-dropdown:hover > .header-menu,
.header-dropdown:focus > .header-menu {
    visibility: visible;
    opacity: 1;
}
.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-menu ul li {
    margin: 0;
}
.header-menu ul a {
    padding: 0.3rem 1.5rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.header-menu a {
    color: inherit;
}
.header-menu a:hover,
.header-menu a:focus {
    color: #cc9966;
}

.header-right .header-menu,
.header-right .header-dropdown:first-child .header-menu {
    left: auto;
    right: 0;
}
.header-right .top-menu + .header-dropdown {
    margin-left: 2.5rem;
}

.header-middle {
    border-bottom: 0.1rem solid #f4f4f4;
}
.header-middle .menu > li > a {
    letter-spacing: 0.01em;
}
.header-middle .menu.sf-arrows > li > .sf-with-ul {
    padding-right: 1.5rem;
}

.cart-dropdown,
.compare-dropdown {
    display: flex;
    align-self: stretch;
    align-items: center;
}
.cart-dropdown .dropdown-toggle,
.compare-dropdown .dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    line-height: 1;
    color: #333;
}
.cart-dropdown .dropdown-toggle::after,
.compare-dropdown .dropdown-toggle::after {
    display: none;
}
.cart-dropdown .dropdown-menu,
.compare-dropdown .dropdown-menu {
    display: block;
    width: 300px;
    z-index: 100;
    font-size: 1.3rem;
    z-index: 1001;
    border: none;
    margin: 1px 0 0;
    padding: 2.2rem 3rem 2.5rem;
    border-radius: 0;
    border: none;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05),
        -5px 10px 16px rgba(51, 51, 51, 0.05);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s;
}
.cart-dropdown .dropdown-menu:before,
.compare-dropdown .dropdown-menu:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1px;
}
.cart-dropdown .dropdown-menu.dropdown-menu-right,
.compare-dropdown .dropdown-menu.dropdown-menu-right {
    right: -1px;
}
.cart-dropdown .btn-remove,
.compare-dropdown .btn-remove {
    position: absolute;
    top: 50%;
    right: -0.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    color: #cccccc;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    margin-top: -1.2rem;
}
.cart-dropdown .btn-remove:hover,
.cart-dropdown .btn-remove:focus,
.compare-dropdown .btn-remove:hover,
.compare-dropdown .btn-remove:focus {
    color: #333333;
}
.cart-dropdown:hover .dropdown-toggle,
.cart-dropdown.show .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle {
    color: #cc9966;
}
.cart-dropdown:hover .dropdown-menu,
.cart-dropdown.show .dropdown-menu,
.compare-dropdown:hover .dropdown-menu,
.compare-dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.compare-dropdown {
    padding-left: 2.5rem;
}
.compare-dropdown .dropdown-toggle {
    font-size: 2.6rem;
}

.compare-products {
    list-style: none;
    padding: 0;
    margin: 0;
}

.compare-product {
    position: relative;
    padding: 0.5rem 0;
    margin: 0;
    box-shadow: none !important;
}
.compare-product:hover {
    box-shadow: none;
}

.compare-product-title {
    color: #666666;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.35;
    margin: 0;
    letter-spacing: -0.01em;
}
.compare-product-title a {
    color: inherit;
}
.compare-product-title a:hover,
.compare-product-title a:focus {
    color: #cc9966;
}

.compare-actions {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.compare-actions .action-link {
    font-size: 1.3rem;
    color: #666666;
}
.compare-actions .action-link:hover,
.compare-actions .action-link:focus {
    color: #cc9966;
    text-decoration: underline;
}
.compare-actions .btn {
    font-size: 1.3rem;
    min-width: 110px;
    margin-left: auto;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
}

.cart-dropdown {
    padding-left: 2.5rem;
}
.cart-dropdown .dropdown-toggle {
    font-size: 3.2rem;
}
.cart-dropdown .dropdown-toggle i {
    display: inline-block;
    margin-top: -3px;
}
.cart-dropdown .cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin-left: 0.2rem;
    margin-top: 0.1rem;
    color: #fff;
    background-color: #cc9966;
}
.cart-dropdown .dropdown-cart-products {
    margin-top: -1rem;
}
.cart-dropdown .product {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 1.6rem 2.4rem 1.6rem 0;
    box-shadow: none;
    margin: 0 !important;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: none !important;
}
.cart-dropdown .product-image-container {
    position: relative;
    max-width: 60px;
    margin: 0;
    margin-left: auto;
}
.cart-dropdown .product-title {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #666;
    text-align: left;
    margin-bottom: 0.4rem;
}
.cart-dropdown .product-title a {
    color: inherit;
}
.cart-dropdown .product-title a:hover,
.cart-dropdown .product-title a:focus {
    color: #cc9966;
}
.cart-dropdown .product-cart-details {
    font-weight: 400;
    max-width: 150px;
    font-size: 1.3rem;
    color: #999999;
    text-align: left;
}

.dropdown-cart-total {
    padding: 1rem 0 0.5rem;
    display: flex;
    align-items: flex-end;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 1.1rem;
}
.dropdown-cart-total .cart-total-price {
    font-size: 1.5rem;
    margin-left: auto;
}

.dropdown-cart-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0.5rem;
}
.dropdown-cart-action .btn {
    font-size: 1.3rem;
    min-width: 110px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.wishlist-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    font-size: 2.6rem;
    line-height: 1;
    margin-left: 2.4rem;
}
.wishlist-link i {
    display: inline-block;
    margin-top: -2px;
}
.wishlist-link .wishlist-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin-left: 0.7rem;
    margin-top: 0.1rem;
    color: #fff;
    background-color: #cc9966;
}
.wishlist-link:hover,
.wishlist-link:focus {
    color: #cc9966;
}

/* Header Search */
.search-toggle {
    position: relative;
    display: block;
    font-size: 2.4rem;
    line-height: 1;
    min-width: 2.5rem;
    padding: 0.3rem 0.2rem;
    font-weight: 400;
    color: #333;
    text-align: center;
    z-index: 11;
}
.search-toggle:hover,
.search-toggle:focus,
.search-toggle.active {
    color: #cc9966;
    outline: none !important;
}

.header-search {
    position: relative;
    margin: 0;
    font-size: 0;
    line-height: 1;
    padding: 0;
    border: none;
}
.header-search .header-search-wrapper {
    position: absolute;
    right: -1.4rem;
    top: 50%;
    margin-top: -20px;
    display: none;
    align-items: stretch;
    overflow: visible;
    border-radius: 20px;
    width: 100%;
    min-width: 270px;
    background-color: #fff;
    border: 0.1rem solid #ebebeb;
    border-radius: 20px;
    z-index: 10;
}
.header-search .header-search-wrapper.show {
    display: flex;
}
.header-search .search-wrapper-wide {
    width: 570px;
}
.header-search form {
    margin: 0;
}
.header-search .select-custom {
    flex: 0 0 200px;
    max-width: 200px;
    padding-right: 0;
    margin: 0;
    align-self: center;
}
.header-search .select-custom:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 0.1rem;
    height: 2.6rem;
    margin-top: -1.3rem;
    background-color: #ebebeb;
}
.header-search .select-custom::after {
    right: 2rem;
    color: #999;
    font-size: 1.2rem;
}
.header-search .form-control,
.header-search select {
    line-height: 1;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0;
    background-color: #fff;
    margin: 0;
}
.header-search .form-control {
    flex: 1 1 auto;
    padding: 0.9rem 5rem 0.9rem 2.3rem;
    width: 100%;
    margin: 0;
    height: 38px;
    line-height: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: none;
}
.header-search select {
    width: 100%;
    border: none;
    line-height: 38px;
    height: 38px;
    color: #777;
    padding: 0.1rem 4rem 0.1rem 2rem;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.header-search select:focus {
    outline: none !important;
}
.header-search option {
    font-size: 1.3rem;
    padding: 0.1rem 0.3rem;
}
.header-search .btn {
    flex: 0 0 40px;
    max-width: 40px;
    min-width: 0;
    height: 40px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: -1rem;
    border-radius: 0 20px 20px 0;
}
/* .header-search .btn i {
    margin: 0 !important;
} */

.header-search-extended {
    margin-right: 19rem;
    width: 100%;
    max-width: 570px;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}
.header-search-extended .header-search-wrapper {
    border-radius: 30px;
}
.header-search-extended .form-control,
.header-search-extended select {
    font-weight: 300;
}
.header-search-extended .form-control {
    height: 44px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 2.4rem;
    border-radius: 30px 0 0 30px;
}
.header-search-extended select {
    line-height: 44px;
    height: 44px;
}
.header-search-extended .btn {
    flex: 0 0 70px;
    max-width: 70px;
    height: 46px;
    font-size: 2rem;
    border-radius: 0 30px 30px 0;
}

.header-search-visible .search-toggle {
    display: none;
}
.header-search-visible .header-search-wrapper {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    margin-top: 0;
    display: flex;
}

.header-search-no-radius .header-search-wrapper,
.header-search-no-radius .form-control,
.header-search-no-radius .btn {
    border-radius: 0;
}

.header-search-no-round .header-search-wrapper {
    border-radius: 0.3rem;
}
.header-search-no-round .form-control {
    border-radius: 0.3rem 0 0 0.3rem;
}
.header-search-no-round .btn {
    border-radius: 0 0.3rem 0.3rem 0;
}

.mobile-menu-toggler {
    border: none;
    background: transparent;
    color: #666666;
    padding: 0.2rem 0.25rem;
    font-size: 2.8rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-bottom .mobile-menu-toggler {
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
    margin-left: -0.4rem;
}

.menu .megamenu.demo {
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.menu .megamenu.demo::-webkit-scrollbar {
    height: 10px;
    width: 7px;
}
.menu .megamenu.demo::-webkit-scrollbar-thumb {
    background: #ebebeb;
    border-radius: 10px;
}
.menu .megamenu.demo::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    margin: 8px;
    width: 100%;
}
.menu .megamenu.demo .demo-item.hidden {
    opacity: 0;
    max-height: 0;
    padding-bottom: 0;
    overflow: hidden;
    transform: translateY(50px);
    transition: all 0.5s;
}
.menu .megamenu.demo .demo-item.show {
    opacity: 1;
    max-height: 100%;
    padding-bottom: 3rem;
    transform: translateY(0);
}

.disabled-hidden {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0 !important;
    overflow: hidden;
}

.header-intro-clearance .header-middle .header-left,
.header-intro-clearance .header-bottom .header-left {
    flex: 0 0 calc((100% + 20px) / 4);
    max-width: calc((100% + 20px) / 4);
    margin: 0;
}
.header-intro-clearance .header-middle .header-center,
.header-intro-clearance .header-bottom .header-center {
    flex: 0 0 calc((100% + 20px) / 2 - 20px);
    max-width: calc((100% + 20px) / 2 - 20px);
    margin: 0;
}
.header-intro-clearance .header-middle .header-right,
.header-intro-clearance .header-bottom .header-right {
    margin-left: auto;
}
.header-intro-clearance .header-bottom .menu > li > a {
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    text-transform: none;
}
.header-intro-clearance .header-bottom .menu > li > a::before {
    top: 0;
}
.header-intro-clearance
    .header-bottom
    .menu.sf-arrows
    > li
    > .sf-with-ul::after {
    right: 1.3rem;
}
.header-intro-clearance .header-bottom .menu > li + li {
    margin-left: 0.7rem;
}
.header-intro-clearance .header-bottom .header-left {
    align-self: stretch;
}
.header-intro-clearance .header-bottom .header-right p {
    padding-right: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.01em;
}
.header-intro-clearance .header-bottom .header-right .highlight {
    color: #333;
}
.header-intro-clearance .header-bottom .header-right i {
    color: #333;
    font-size: 1.6rem;
    letter-spacing: -0.01em;
    margin-right: 1.5rem;
}
.header-intro-clearance .header-bottom .container::before {
    position: absolute;
    content: "";
    left: 28.5rem;
    height: 1.5rem;
    width: 0.1rem;
    top: 50%;
    background-color: #ccc;
    transform: translateY(-50%);
}
.header-intro-clearance .header-bottom .container::after {
    position: absolute;
    content: "";
    right: 28rem;
    height: 1.5rem;
    width: 0.1rem;
    top: 50%;
    background-color: #ccc;
    transform: translateY(-50%);
}
.header-intro-clearance .header-middle .header-right p {
    font-size: 1.1rem;
}
.header-intro-clearance .top-menu {
    text-transform: none;
}
.header-intro-clearance .header-dropdown > a,
.header-intro-clearance .header-dropdown > span {
    padding-right: 1.8rem;
    text-transform: none;
}
.header-intro-clearance .header-dropdown > a:after,
.header-intro-clearance .header-dropdown > span:after {
    font-size: 1rem;
    margin-top: -0.6rem;
}
.header-intro-clearance .dropdown.category-dropdown {
    width: 275px;
    max-width: 95%;
}
.header-intro-clearance .dropdown.category-dropdown .dropdown-toggle {
    color: #333;
    text-transform: none;
    padding-left: 5.5rem;
    min-width: 100%;
}
.header-intro-clearance .dropdown.category-dropdown .dropdown-toggle i {
    font-size: 1rem;
    position: absolute;
    right: 1.5rem;
}
.header-intro-clearance .dropdown.category-dropdown .dropdown-toggle::before {
    height: 0;
}
.header-intro-clearance .dropdown.category-dropdown .dropdown-toggle::after {
    font-weight: 400;
    position: absolute;
    margin-left: 0;
    left: 1.5rem;
}
.header-intro-clearance .header-menu ul {
    display: block;
}
.header-intro-clearance .top-menu:not(.top-link-menu) .header-menu li + li {
    margin-left: 0;
}
.header-intro-clearance .account,
.header-intro-clearance .wishlist,
.header-intro-clearance .compare-dropdown,
.header-intro-clearance .cart-dropdown {
    display: flex;
    align-self: stretch;
    align-items: initial;
}
.header-intro-clearance .account > a,
.header-intro-clearance .wishlist > a,
.header-intro-clearance .compare-dropdown > a,
.header-intro-clearance .cart-dropdown > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-intro-clearance div.icon {
    position: relative;
    height: 3.2rem;
}
.header-intro-clearance .account a {
    font-size: 3rem;
    color: #333;
    line-height: 1;
}
.header-intro-clearance .wishlist a {
    font-size: 2.8rem;
    color: #333;
    line-height: 1;
}
.header-intro-clearance .cart-dropdown .cart-count,
.header-intro-clearance .wishlist .wishlist-count {
    min-width: 1.6rem;
    height: 1.6rem;
}
.header-intro-clearance .wishlist .wishlist-count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
}
.header-intro-clearance .wishlist .wishlist-count {
    position: absolute;
    top: 0;
    right: -0.5rem;
}
.header-intro-clearance .cart-dropdown .cart-count {
    position: absolute;
    top: 0;
    right: -0.3rem;
}
.header-intro-clearance .cart-dropdown,
.header-intro-clearance .wishlist,
.header-intro-clearance .account {
    padding-left: 3rem;
}
.header-intro-clearance .cart-dropdown .dropdown-toggle,
.header-intro-clearance .wishlist .dropdown-toggle,
.header-intro-clearance .account .dropdown-toggle {
    color: #333;
}

@media screen and (min-width: 992px) {
    .mobile-menu-toggler {
        display: none;
    }
}
@media screen and (min-width: 1600px) {
    .header .container-fluid .megamenu-container {
        position: relative;
    }
    .header .container-fluid .megamenu-container .megamenu {
        right: auto;
        width: 1170px;
    }
}
@media screen and (max-width: 1199px) {
    .header-search .search-wrapper-wide {
        width: 480px;
    }

    .header-search-extended {
        margin-right: 10rem;
    }
    .header-search-extended .btn {
        flex: 0 0 50px;
        max-width: 50px;
    }
}
@media screen and (max-width: 991px) {
    .top-menu:not(.top-link-menu) {
        display: flex;
        align-items: center;
        align-self: stretch;
    }
    .top-menu:not(.top-link-menu) > li {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding-right: 2.2rem;
    }
    .top-menu:not(.top-link-menu) > li > a {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .top-menu:not(.top-link-menu) > li::after {
        font-family: "molla";
        content: "\f110";
        position: absolute;
        right: 0;
        top: 50%;
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1;
        margin-top: -0.7rem;
    }
    .top-menu:not(.top-link-menu) ul {
        display: block;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 20;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        min-width: 180px;
        visibility: hidden;
        opacity: 0;
        margin-top: 1px;
        background-color: #fff;
        box-shadow: 2px 5px 8px rgba(51, 51, 51, 0.05),
            -2px 5px 8px rgba(51, 51, 51, 0.05);
        text-transform: capitalize;
    }
    .top-menu:not(.top-link-menu) ul:before {
        content: "";
        display: block;
        width: 100%;
        height: 0.1rem;
        position: absolute;
        top: -1px;
        left: 0;
    }
    .top-menu:not(.top-link-menu):hover ul,
    .top-menu:not(.top-link-menu):focus ul {
        visibility: visible;
        opacity: 1;
    }
    .top-menu:not(.top-link-menu) li + li {
        margin-left: 0 !important;
    }
    .top-menu:not(.top-link-menu) a {
        padding: 0.3rem 1.5rem;
    }

    .header-left .top-menu ul {
        right: auto;
        left: 0;
    }

    .header-search {
        display: none;
    }

    .header-search-extended {
        margin-right: 0;
    }
    .header-search-extended .btn {
        height: 40px;
    }
    .header-search-extended .form-control {
        height: 38px;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
    .header-search-extended select {
        height: 38px;
        line-height: 38px;
    }

    .header-search-visible .search-toggle {
        display: block;
    }
    .header-search-visible .header-search-wrapper {
        position: absolute;
        right: -10rem;
        top: 100%;
        margin-top: 0.8rem;
        display: none;
        border-width: 0.4rem;
    }
    .header-search-visible .header-search-wrapper:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: 10rem;
        bottom: 100%;
        border-style: solid;
        border-width: 0 11px 13px 11px;
        border-color: transparent transparent #ebebeb transparent;
    }

    .header-bottom {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .header-search .search-wrapper-wide {
        width: 420px;
    }
    .header-search .select-custom {
        flex: 0 0 180px;
        max-width: 180px;
    }
}
@media screen and (max-width: 575px) {
    .header-search .search-wrapper-wide {
        width: 300px;
    }
    .header-search .select-custom {
        display: none;
    }

    .compare-dropdown,
    .wishlist-link {
        display: none;
    }

    .cart-dropdown {
        padding-left: 1.4rem;
    }
}
@media (max-width: 340px) {
    .header-search .search-wrapper-wide {
        width: 260px;
    }

    .compare-dropdown,
    .wishlist,
    .account,
    .wishlist-link {
        display: none !important;
    }
}
/*--------------------- 2.1.Menu -------------------- */
.main-nav {
    margin-left: 2rem;
    display: none;
}

/* Menu Structure */
.menu,
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    display: flex;
    align-items: center;
}
.menu li {
    position: relative;
}
.menu li:hover > ul,
.menu li:hover > .megamenu,
.menu li.show > ul,
.menu li.show > .megamenu {
    display: block;
}
.menu .megamenu-container {
    position: static;
}
.menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1002;
}
.menu ul ul {
    top: -1.6rem;
    left: 100%;
}
.menu .megamenu {
    display: none;
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    top: 100%;
    z-index: 1002;
}
.menu .megamenu.megamenu-sm {
    left: 0;
    right: auto;
    width: 456px;
}
.menu .megamenu.megamenu-md {
    left: -10rem;
    right: auto;
    width: 694px;
}
.menu .megamenu > ul,
.menu .megamenu div > ul {
    display: block;
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    box-shadow: none;
    margin-top: 0;
    padding: 0;
    min-width: 0;
}
.menu ul,
.menu .megamenu {
    margin-top: 1px;
}
.menu ul:before,
.menu .megamenu:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    height: 1px;
    left: 0;
    right: 0;
}
.menu ul ul,
.menu .megamenu ul {
    margin-top: 0;
}
.menu a:not(.btn) {
    display: block;
    position: relative;
    text-decoration: none;
}
.menu a:not(.btn):focus {
    outline: none !important;
}

/* Menu Style */
.menu {
    line-height: 1.5;
}
.menu li > a {
    color: #999999;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.menu li > a span:not(.tip) {
    position: relative;
}
.menu > li > a {
    color: #333;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    padding: 3.95rem 3rem;
    text-transform: uppercase;
}
.menu > li + li {
    margin-left: 0;
}
.menu.sf-arrows > li > .sf-with-ul {
    padding-right: 2rem;
}
.menu.sf-arrows .sf-with-ul {
    position: relative;
}
.menu.sf-arrows .sf-with-ul::after {
    font-family: "molla";
    content: "\f110";
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    font-size: 1rem;
    line-height: 1;
    margin-top: -0.5rem;
}
.menu.sf-arrows ul .sf-with-ul {
    padding-right: 4rem;
}
.menu.sf-arrows ul .sf-with-ul:after {
    content: "\f112";
    right: 3rem;
}
.menu .megamenu,
.menu ul {
    background-color: #fff;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05),
        -5px 10px 16px rgba(51, 51, 51, 0.05);
}
.menu ul {
    min-width: 218px;
    padding: 1.6rem 0 2rem;
}
.menu .megamenu .banner > a {
    display: block;
    padding: 0;
    margin: 0;
}
.menu .megamenu li a {
    padding-right: 0;
    padding-left: 0;
}
.menu .megamenu .btn {
    min-width: 210px;
    text-transform: uppercase;
}
.menu .banner {
    margin: 0;
    max-width: 218px;
    float: right;
    height: 100%;
}
.menu .menu-col {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2.2rem;
    padding-bottom: 2rem;
}
.menu .menu-title {
    color: #333;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}
.menu .megamenu-action {
    padding-bottom: 2rem;
}
.menu ul + .menu-title {
    margin-top: 1.5rem;
}
.menu .banner-content {
    padding-top: 0;
}
.menu .banner-content.banner-content-bottom {
    left: 2.4rem;
    bottom: 2.4rem;
}
.menu .banner-content.banner-content-top {
    left: 2rem;
    top: 2.4rem;
    transform: translateY(0);
    -ms-transform: translateY(0);
}
.menu .banner-title {
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0;
}
.menu .banner-title span {
    font-size: 2.4rem;
}
.menu .banner-content-top .banner-title span {
    line-height: 1.05;
    font-size: 3.1rem;
}

/* Menu Hover Style */
.menu li:hover > a,
.menu li.show > a,
.menu li.active > a {
    color: #cc9966;
}

/* Demos */
.demo-list {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    margin: 1.8rem -10px 0.4rem;
}

.demo-item {
    color: #999999;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 10px;
    text-align: center;
    padding-bottom: 3rem;
    margin-bottom: auto;
}
.demo-item a {
    color: inherit;
}
.demo-item a:hover,
.demo-item a:focus {
    color: #cc9966;
}
.demo-item a:hover .demo-bg,
.demo-item a:focus .demo-bg {
    box-shadow: 3px 10px 16px rgba(51, 51, 51, 0.05),
        -3px 10px 16px rgba(51, 51, 51, 0.05);
    background-position: center bottom;
    transition: background-position 2s linear, box-shadow 0.3s;
}

.demo-bg {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-color: #f4f4f4;
    border: 0.1rem solid #ebebeb;
    margin-bottom: 1.2rem;
    padding-top: 80.95%;
    background-position: center top;
    transition: background-position 0.6s linear, box-shadow 0.3s;
}

.demo-title {
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.01em;
}

/* Label - Tip */
.tip {
    color: #fff;
    display: block;
    position: absolute;
    left: 100%;
    bottom: 1.1rem;
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1;
    letter-spacing: 0;
    padding: 0.3rem 0.1rem 0.1rem;
    min-width: 23px;
    z-index: 1;
    border-radius: 0;
    margin-left: 0.5rem;
    text-transform: uppercase;
    background-color: #cc9966;
}
.tip.tip-new {
    background-color: #a6c76c;
}
.tip.tip-hot {
    background-color: #ef837b;
}

/* Header Bottom  - Menu position in header-bottom */
.header-bottom .main-nav {
    margin-left: 0;
}
.header-bottom .menu .megamenu.megamenu-md {
    left: 0;
}
.header-bottom .menu > li + li {
    margin-left: 1rem;
}
.header-bottom .menu > li > a {
    padding: 1.65rem 1rem;
}
.header-bottom .menu > li > .sf-with-ul {
    padding-right: 3rem;
}
.header-bottom .menu > li > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #cc9966;
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.header-bottom .menu li:hover > a:before,
.header-bottom .menu li.show > a:before,
.header-bottom .menu li.active > a:before {
    transform-origin: left center;
    transform: scale(1, 1);
}
.header-bottom .menu.sf-arrows > li > .sf-with-ul::after {
    right: 1rem;
}

@media screen and (min-width: 992px) {
    .main-nav {
        display: block;
    }
}
/*--------------------- 2.2.Vertical Menu -------------------- */
/* Vertical Menu */
.side-nav {
    position: relative;
    margin: 0;
}

.sidenav-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    padding: 1.45rem 3rem;
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
}

.category-dropdown {
    display: flex;
    align-self: stretch;
    align-items: center;
}
.category-dropdown .dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    color: #333333;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding: 1rem 1.9rem 1rem 2rem;
    min-width: 270px;
    transition: background 0.4s, color 0.1s;
}
.category-dropdown .dropdown-toggle:after {
    content: "\f131";
    font-family: "molla";
    border: none;
    font-size: 2.3rem;
    line-height: 1;
    margin-left: 6.7rem;
}
.category-dropdown .dropdown-toggle:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #cc9966;
    transition: all 0.35s;
}
.category-dropdown .dropdown-toggle:hover,
.category-dropdown .dropdown-toggle:focus {
    color: #fff;
    background-color: #cc9966;
    outline: none !important;
}
.category-dropdown:not(.is-on):hover .dropdown-menu {
    display: block;
}
.category-dropdown:not(.is-on):hover .dropdown-toggle {
    color: #fff !important;
    background-color: #cc9966;
}
.category-dropdown:not(.is-on):hover .dropdown-toggle:after {
    content: "\f191";
}
.category-dropdown.show .dropdown-toggle {
    color: #fff;
    background-color: #cc9966;
}
.category-dropdown.show .dropdown-toggle:after {
    content: "\f191";
}
.category-dropdown .dropdown-menu {
    left: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.category-dropdown .dropdown-item {
    color: #666;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    border: 0.1rem solid #ebebeb;
    border-top: none;
    padding: 0.9rem 1.9rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-dropdown .dropdown-item.dropdown-item-lead {
    color: #333;
    font-weight: 500;
    background-color: #f9f9f9;
}
.category-dropdown .dropdown-item:hover,
.category-dropdown .dropdown-item:focus {
    color: #cc9966;
    background-color: #fff;
    outline: none !important;
}
.category-dropdown .dropdown-item:hover.dropdown-item-lead,
.category-dropdown .dropdown-item:focus.dropdown-item-lead {
    background-color: #f9f9f9;
}

.menu-vertical,
.menu-vertical ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-vertical {
    display: flex;
    align-items: center;
    position: static;
    line-height: 1.5;
    flex-direction: column;
}
.menu-vertical li {
    position: relative;
}
.menu-vertical li:hover > ul,
.menu-vertical li:hover > .megamenu,
.menu-vertical li.show > ul,
.menu-vertical li.show > .megamenu {
    display: block;
}
.menu-vertical a:not(.btn) {
    display: block;
    position: relative;
    text-decoration: none;
}
.menu-vertical a:not(.btn):focus {
    outline: none !important;
}
.menu-vertical .megamenu-container {
    position: static;
}
.menu-vertical ul {
    min-width: 218px;
    padding: 1.6rem 0 2rem;
}
.menu-vertical ul,
.menu-vertical .megamenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1002;
    margin-top: 0;
    background-color: #fff;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05),
        -5px 10px 16px rgba(51, 51, 51, 0.05);
}
.menu-vertical ul:before,
.menu-vertical .megamenu:before {
    display: none;
}
.menu-vertical .megamenu {
    width: 713px;
}
.menu-vertical .megamenu.megamenu-sm {
    width: 456px;
}
.menu-vertical .megamenu.megamenu-md {
    width: 694px;
}
@media screen and (min-width: 1200px) {
    .menu-vertical .megamenu:not(.megamenu-sm):not(.megamenu-md) {
        width: 893px;
        min-height: 100%;
    }
}
.menu-vertical .megamenu > ul,
.menu-vertical .megamenu div > ul {
    display: block;
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    box-shadow: none;
    margin-top: 0;
    padding: 0;
    min-width: 0;
}
.menu-vertical .banner {
    margin: 0;
    max-width: 280px;
    float: right;
    border-radius: 0;
}
.menu-vertical .banner img {
    border-radius: 0;
}
.menu-vertical .menu-banners {
    margin-top: 2.4rem;
}
.menu-vertical .menu-banners .banner {
    float: none;
    max-width: 100%;
}
.menu-vertical.sf-arrows > li > .sf-with-ul {
    padding-right: 3rem;
}
.menu-vertical.sf-arrows .sf-with-ul {
    position: relative;
}
.menu-vertical.sf-arrows .sf-with-ul::after {
    display: block;
    font-family: "molla";
    content: "\f112";
    position: absolute;
    right: 1.8rem;
    top: 50%;
    line-height: 1;
    font-size: 1.2rem;
    margin-top: -0.6rem;
}
.menu-vertical li > a {
    color: #666;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.menu-vertical li > a span:not(.tip) {
    position: relative;
}
.menu-vertical li > a strong {
    font-weight: 600;
}
.menu-vertical > li {
    width: 100%;
}
.menu-vertical > li > a {
    display: block;
    color: #666;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    border: 0.1rem solid #ebebeb;
    border-top: none;
    padding: 0.9rem 1.9rem;
    width: 100%;
}
.menu-vertical > li.item-lead > a {
    color: #333;
    font-weight: 500;
    background-color: #f9f9f9;
}
.menu-vertical > li + li {
    margin-left: 0;
}
.menu-vertical .menu-title {
    color: #333;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #eeeeee;
    margin-bottom: 0.7rem;
}
.menu-vertical ul + .menu-title {
    margin-top: 1.2rem;
}
.menu-vertical i {
    display: inline-block;
    color: #ccc;
    min-width: 3.4rem;
}
.menu-vertical .menu-col {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.menu-vertical .menu-col li > a {
    padding-left: 0;
    padding-right: 0;
}
.menu-vertical li:hover > a,
.menu-vertical li.show > a,
.menu-vertical li.active > a {
    color: #cc9966;
}
.menu-vertical > li:hover > a,
.menu-vertical > li.show > a,
.menu-vertical > li.active > a {
    color: #cc9966;
}

.menu-brands.menu-col {
    padding-top: 2rem;
    margin-top: 0 !important;
    border-top: 0.1rem solid #ebebeb;
}
.menu-brands .brand {
    display: flex !important;
}
.menu-brands .col,
.menu-brands [class*="col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------- 2.3.Sticky Header -------------------- */
/* Sticky Header */
@keyframes fixedHeader {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (min-width: 992px) {
    .sticky-header.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1040;
        animation-name: fixedHeader;
        animation-duration: 0.4s;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(51, 51, 51, 0.05);
    }
    .sticky-header.fixed .logo {
        margin-top: 0;
        margin-bottom: 0;
    }
    .sticky-header.fixed.header-middle .menu > li > a {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
/*--------------------- 2.4.Mobiel Menu -------------------- */
/* Mobile Menu */
.mobile-menu-container {
    position: fixed;
    left: -280px;
    top: 0;
    bottom: 0;
    z-index: 1001;
    background-color: #333;
    width: 100%;
    max-width: 280px;
    overflow-y: scroll;
    box-shadow: 0.1rem 0 0.6rem 0 rgba(51, 51, 51, 0.5);
    will-change: transform;
    visibility: hidden;
    font-size: 1.2rem;
    line-height: 1.5;
    transition: all 0.4s ease;
}
.mmenu-active .mobile-menu-container {
    visibility: visible;
    transform: translateX(280px);
}
.mobile-menu-container .social-icons {
    justify-content: center;
    margin-bottom: 0;
}
.mobile-menu-container .social-icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: transparent;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.45);
    border-color: rgba(255, 255, 255, 0.45);
}
.mobile-menu-container .social-icon + .social-icon {
    margin-left: 0.8rem;
}
.mobile-menu-container .social-icon:hover,
.mobile-menu-container .social-icon:focus {
    background-color: transparent;
}

.mobile-menu-wrapper {
    position: relative;
    padding: 4.2rem 0;
}

.mobile-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    padding: 0;
    z-index: 9;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    transition: color 0.35s;
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
    color: #cc9966;
}

.mobile-menu-overlay {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0.25);
    z-index: 1000;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.mmenu-active .mobile-menu-overlay {
    visibility: visible;
    opacity: 1;
}

.mobile-nav {
    padding: 0;
    margin: 0 0 2.5rem;
}

.mobile-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mobile-menu > li > a {
    text-transform: uppercase;
}
.mobile-menu li {
    display: block;
    position: relative;
}
.mobile-menu li a {
    position: relative;
    display: block;
    padding: 1rem 4.5rem 1rem 2rem;
    color: #fff;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.08);
}
.mobile-menu li a:hover,
.mobile-menu li a:focus {
    color: #cc9966;
    text-decoration: none;
    outline: none !important;
}
.mobile-menu li.open > a,
.mobile-menu li.active > a {
    color: #cc9966;
}
.mobile-menu li ul {
    margin: 0;
    padding: 0.7rem 0 0.9rem;
    display: none;
    margin-bottom: 0;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.08);
}
.mobile-menu li ul li a {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 3.5rem;
    border-bottom: none;
}
.mobile-menu li ul li a:not(:hover):not(:focus) {
    color: rgba(255, 255, 255, 0.8);
}
.mobile-menu li ul li:last-child ul {
    border-bottom: none;
    padding-bottom: 0;
}
.mobile-menu li ul ul {
    border-top: 0.1rem solid rgba(255, 255, 255, 0.08);
}
.mobile-menu li ul ul li a {
    padding-left: 5rem;
}
.mobile-menu > li > a {
    text-transform: uppercase;
}
.mobile-menu span:not(.mmenu-btn):not(.tip) {
    position: relative;
}

.mmenu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 50%;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    margin-top: -1.5rem;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: color 0.35s;
}
.mmenu-btn::after {
    font-family: "molla";
    content: "\f110";
    display: inline-block;
}
.mmenu-btn:hover,
.mmenu-btn:focus {
    color: #cc9966;
}
.open > a > .mmenu-btn::after {
    content: "\e802";
}

.mobile-search {
    margin: 1rem 0 1.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
.mobile-search .form-control {
    height: 36px;
    margin-bottom: 0;
    -webkit-appearance: none;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.8rem 1.5rem;
    max-width: calc(100% - 36px);
    background-color: #333;
    border-color: rgba(255, 255, 255, 0.1);
    border-right-width: 0;
}
.mobile-search .form-control::placeholder {
    color: rgba(255, 255, 255, 0.45);
}
.mobile-search .form-control:focus {
    color: #fff;
    border-color: #cc9966;
    background-color: #333;
}
.mobile-search .btn {
    font-size: 1.2rem;
    min-width: 3.6rem;
    padding: 0.8rem 0.2rem;
}

.mobile-menu-container .tab-content {
    padding: 0;
    margin: 0 0 2.5rem;
    border: none;
}
.mobile-menu-container .tab-content .mobile-nav,
.mobile-menu-container .tab-content .mobile-cats-nav {
    margin-bottom: 0;
}
.mobile-menu-container .tab-pane {
    padding: 0;
}

.nav.nav-pills-mobile {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
    margin: 0 0 0.2rem;
}
.nav.nav-pills-mobile .nav-item {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 0 -0.1rem;
}
.nav.nav-pills-mobile .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.5;
    text-transform: uppercase;
    border-bottom: 0.2rem solid transparent;
    background: none;
    padding: 0.8rem 2rem;
    transition: all 0.35s ease;
}
.nav.nav-pills-mobile .nav-link.active,
.nav.nav-pills-mobile .nav-link:hover,
.nav.nav-pills-mobile .nav-link:focus {
    color: #cc9966;
    border-bottom-color: #cc9966;
}

.mobile-cats-nav .mobile-menu > li > a {
    text-transform: capitalize;
}

.mobile-cats-menu li a {
    position: relative;
    display: block;
    padding: 1rem 4.5rem 1rem 2rem;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.08);
}
.mobile-cats-menu li a.mobile-cats-lead {
    font-weight: 500;
    color: #fff;
}
.mobile-cats-menu li a:hover,
.mobile-cats-menu li a:focus {
    color: #cc9966;
    text-decoration: none;
    outline: none !important;
}

/* Mobile Menu Light */
.mobile-menu-light {
    background-color: #fff;
}
.mobile-menu-light .mobile-menu-close:not(:hover):not(:focus) {
    color: #666;
}
.mobile-menu-light .social-icon {
    color: #999;
    border-color: #999;
}
.mobile-menu-light .mobile-menu li a {
    border-bottom-color: #efefef;
}
.mobile-menu-light .mobile-menu li a:not(:hover):not(:focus) {
    color: #666;
}
.mobile-menu-light .mobile-menu li.open > a,
.mobile-menu-light .mobile-menu li.active > a {
    color: #cc9966;
}
.mobile-menu-light .mobile-menu li ul {
    border-bottom-color: #efefef;
}
.mobile-menu-light .mobile-menu li ul li a:not(:hover):not(:focus) {
    color: #666;
}
.mobile-menu-light .mobile-menu li ul ul {
    border-top-color: #efefef;
}
.mobile-menu-light .mmenu-btn:not(:hover):not(:focus) {
    color: #666;
}
.mobile-menu-light .mobile-search .form-control {
    color: #666;
    background-color: #fff;
    border-color: #e5e5e5;
}
.mobile-menu-light .mobile-search .form-control::placeholder {
    color: #666;
}
.mobile-menu-light .mobile-search .form-control:focus {
    color: #666;
    border-color: #cc9966;
    background-color: #fff;
}
.mobile-menu-light .nav.nav-pills-mobile {
    border-bottom-color: #efefef;
}
.mobile-menu-light
    .nav.nav-pills-mobile
    .nav-link:not(:hover):not(:focus):not(.active) {
    color: #333;
}
.mobile-menu-light .mobile-cats-menu li a {
    border-bottom-color: #efefef;
}
.mobile-menu-light .mobile-cats-menu li a:not(:hover):not(:focus) {
    color: #666;
}
.mobile-menu-light
    .mobile-cats-menu
    li
    a:not(:hover):not(:focus).mobile-cats-lead {
    color: #333;
}
/* Header 3 */
.header-3 {
    color: #fff;
    background-color: #333333;
}
.header-3 .header-top {
    background-color: #333;
}
.header-3 .header-top .container::after,
.header-3 .header-top .container-fluid::after {
    height: 0.1rem;
    background-color: #444444;
}
.header-3 .header-top .header-left i {
    font-size: 1.6rem;
    margin-right: 0.5rem;
}
.header-3 .header-dropdown {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
}
.header-3 .header-middle {
    border-bottom: none;
}
.header-3 .header-bottom {
    background-color: #fff;
}
.header-3 .header-bottom .menu > li > a::before {
    bottom: 0;
    top: unset;
}
.header-3 .wishlist a {
    color: #fff;
}
.header-3 .cart-dropdown:not(:hover):not(.show) .dropdown-toggle,
.header-3 .compare-dropdown:not(:hover):not(.show) .dropdown-toggle,
.header-3 .mobile-menu-toggler,
.header-3 .search-toggle:not(:hover):not(:focus),
.header-3 .wishlist-link:not(:hover):not(:focus) {
    color: #fff;
}
.header-3 .wishlist .wishlist-count,
.header-3 .cart-count {
    color: #333;
}
.header-3 .header-bottom {
    border-bottom: 0.1rem solid #ebebeb;
}
.header-3 .header-bottom .header-right p {
    padding-right: 0;
}
.header-3 .logo {
    margin-bottom: 3.5rem;
    margin-top: 3rem;
}
.header-3 .header-search-extended .btn {
    max-width: 40px;
    margin-left: 1rem;
    height: 46px;
    font-size: 2.2rem;
    background-color: transparent;
    color: #333;
}
.header-3 .header-search-extended .form-control {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding-left: 0;
    height: 44px;
    padding: 1rem 2.4rem 1rem 0.5rem;
}
.header-3 .btn-primary:hover,
.header-3 .btn-primary:focus,
.header-3 .btn-primary.focus,
.header-3 .btn-primary:not(:disabled):not(.disabled):active,
.header-3 .btn-primary:not(:disabled):not(.disabled).active,
.header-3 .show > .btn-primary.dropdown-toggle {
    color: #cc9966;
    background-color: transparent;
}

@media screen and (max-width: 991px) {
    .header-3 .header-search-visible .header-search-wrapper {
        border-color: #dadada;
    }
    .header-3 .header-search-visible .header-search-wrapper:before {
        border-bottom-color: #dadada;
    }
}
@media screen and (max-width: 575px) {
    .header-3 .cart-dropdown,
    .header-3 .compare-dropdown,
    .header-3 .wishlist {
        padding-left: 1.4rem;
    }
}
@media screen and (max-width: 1119px) {
    .header-intro-clearance .header-bottom .container::before,
    .header-intro-clearance .header-bottom .container::after {
        visibility: hidden;
    }
}
@media screen and (max-width: 1100px) {
    .header-intro-clearance .header-bottom .header-right i {
        visibility: hidden;
    }
}
@media screen and (max-width: 399px) {
    .header-intro-clearance .account,
    .wishlist {
        display: none;
    }
}
.fa-search {
    margin-top: 11px !important;
}
.user {
    background-color: transparent;
    border: 0;
    color: #666666;
}
.user:hover {
    color: #cc9966;
}
